.article {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
    margin-top: 2rem;
    height: 500px;
  }
  
  .article img {
    width: 300px;
    object-fit: contain;
    border-radius: 8px;
    transition: transform 0.3s ease;
  }
  
  .article img:hover {
    transform: scale(1.05); 
  }
  
  .article h3 {
    font-size: 1.5rem; 
    margin-bottom: 1rem;
    text-align: center;
    max-width: 300px;
    word-wrap: break-word; 
  }
  